parameters:
    level: 6
    paths:
        - src/
        - tests/
    excludePaths:
        - tests/bootstrap.php
        - var/
        - vendor/
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Cannot call method [a-zA-Z0-9\\_]+\(\) on .+\|null#'
